// Colors
$bg: #002833;
$bgDark: #434944;
$bgLight: #6c6d6b;
$blue: #5cabdc;
$green: #8cc16d;
$pink: #d203d2;
$purple: #b595cf;
$red: #da5673;
$text: white;
$yellow: #eebf35;

// Fonts
// $mainFont: 'Avenir', Helvetica, Arial, sans-serif;
$codeFont: 'Fira Code', monospace;
$mainFont: 'Molengo', sans-serif;
$navFont: 'Avenir', Helvetica, Arial, sans-serif;
